body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-color:#f8f9fa
}

header {
  background-color: #a7d3ff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

.navbar {
  background-color: #e3f2fd!important;
}

html {
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
  font-size: 1.75rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

section {
  margin: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  height: 60vh; /* Set a fixed height for the carousel */
  background-color: #f8f9fa; /* Set a background color for the sidebars */
}

.carousel .carousel-inner img {
  object-fit: contain; /* Fit the images within the carousel while maintaining their aspect ratio */
  object-position: center; /* Center the images within the carousel */
  height: 60vh;
  margin: auto; /* Center the images horizontally */
}

/* App.css */
.alert-info {
  background-color: #cce5ff;
  color: #004085;
  padding: 1rem;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Default image size */
.card-img-top {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

/* Smaller image size on smaller devices */
@media (max-width: 768px) {
  .card-img-top {
    max-height: 200px;
  }
}

.classes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.grey-link {
  color: #6c757d; /* Adjust the grey color to your preference */
  text-decoration: none;
}

.grey-link:hover {
  color: #5a6268;
  text-decoration: underline;
}

.modal-wide{
  max-width: 800px; /* Set the desired width here */
}

.full-width-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.section-anchor::before {
  content: "";
  display: block;
  height: 80px; /* Adjust this value according to your navbar's height */
  margin-top: -80px; /* This should be the same as height */
  visibility: hidden;
  pointer-events: none;
}