.ntx-repeating-section-repeated-section {
    display: flex; /* Activates flexbox layout */
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Spaces out the children; adjust as needed */
    flex-direction: row-reverse;
}

/* Sibling Element - Form Container */
ntx-repeating-section ntx-form-runtime-light {
    flex-shrink: 1!important; /* Allow it to shrink */
}

ntx-repeating-section .row>* {
    padding-right: 5px;
}

.nx-repeating-section-container .nx-repeating-section-body .ntx-repeating-section-overlay {
    flex-shrink: 0; /* Prevent shrinking */
    margin-left: auto; /* Pushes the delete button to the end of the container */
    align-self: flex-start;
    padding: 5px;
}