.mat-step-label:hover,
h4.nx-theme-heading-1:hover
{
    overflow: visible!important; 
    white-space: nowrap!important;
}


#_ea49c347f2000f9349293633dd724437-group-control div.nx-radio{
    width:25%;
}