.nx-form *:not(
.nx-action-panel,
.nx-button-container,
.nx-datetimepicker,
.nx-simple-currency-control,
.custom-css-dialog-modal) {
    direction: rtl;
    text-align: right;
}

.nx-action-panel,
.nx-button-container,
.nx-datetimepicker,
.nx-simple-currency-control,
.custom-css-dialog-modal
 {
    direction:ltr;
}

.mat-vertical-stepper-header .mat-step-icon {
    margin-right: 0px;
    margin-left: 12px;
}

[dir] .nx-theme-styles .mat-step-label > * {
    float: right!important;
}

.nx-button-container
 {
    text-align: left;
}

/*Toggle Box*/

.nx-checkbox-toggle .nx-checkbox-toggle-groove
 {
    margin-right: 10px;
}

/*groups*/

.nx-control-richtext-label .nx-theme-richtext ol, .nx-control-richtext-label .nx-config-panel #showSaveAndContinueButton-group-control .nx-form-label ol, .nx-config-panel #showSaveAndContinueButton-group-control .nx-control-richtext-label .nx-form-label ol, .nx-control-richtext-label .nx-theme-richtext ul, .nx-control-richtext-label .nx-config-panel #showSaveAndContinueButton-group-control .nx-form-label ul, .nx-config-panel #showSaveAndContinueButton-group-control .nx-control-richtext-label .nx-form-label ul, .nx-control-richtext-label .nx-theme-richtext dl, .nx-control-richtext-label .nx-config-panel #showSaveAndContinueButton-group-control .nx-form-label dl, .nx-config-panel #showSaveAndContinueButton-group-control .nx-control-richtext-label .nx-form-label dl {
    padding: 0 20px 0 1px;
}