.nx-form *:not(.nx-action-panel) {
    direction: rtl;
}

body {
    text-align: right;
}

.nx-action-panel {
    direction:ltr;
}

/*Toggle Box*/

.nx-checkbox-toggle .nx-checkbox-toggle-groove
 {
    margin-right: 10px;
}

/*groups*/

.nx-group-control-container .nx-control-richtext-label {
    margin-right: 10px;
}

/*Navigation Button*/

