.nx-form *:not(.nx-action-panel) {
    direction: rtl;
}

.nx-action-panel {
    direction:unset;
}

/*Margin Correction*/

.nx-checkbox-toggle .nx-checkbox-toggle-groove,
.nx-title,
.nx-control-richtext-label
 {
    margin-right: 10px;
}

/*Navigation Button*/

