@media (min-width: 576px) { 
    .nx-form {
        width:100%;
        padding: 20px 15px
    }
 }

@media (min-width: 768px) { 
    .nx-form {
        width:100%;
        padding: 20px 15px
    }
 }

@media (min-width: 992px) {     
    .nx-form {
        width:900px;
        padding: 20px 15px;
    } 
}

@media (min-width: 1200px) {
    .nx-form {
        width:1200px;
        padding: 25px 15px;
        max-width: 1200px;
    }
}

@media (min-width: 1400px) { 
    .nx-form {
        width:1280px;
        padding: 25px 15px;
        max-width: 1440px;
    }
}